* {
	/*border: 1px solid red*/
	padding: 0px;
	margin 0px;
}
body { background-color: #F3F1E9; }
header { height: 50px margin: 10px; }
nav { margin: 10px }
nav ul {
	list-style:none;
	text-align: center;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	padding: 10px 0;
}
nav ul li {
	display:inline;
	text-transform:uppercase;
	padding: 0 10px;
	letter-sapcing: 10px;
}
nav ul li a {text-decoration: none: color: black;}
	nav ul i a:hover {text-decoration: underline; }

aside#left {
	width: 175px;
	margin-top: 20px;
	float: left;
}

#left h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
}
#left ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #FFF;
	list-style: none;
	text-indent: 15px;
}
#left ul li {
	background: #3f3f3f;
	line-height: 28px;
	border-bottom: 1px solid #333;
}
#left ul li a {
	text-decoration: none;
	color:#FFF;
	display: block;
}
#left ul li a:hover {
	background: #d40203;
}
#left ul li#active {
	background: #d4023;
}
#main {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: $464646;
	overflow:hidden;
	float:left;
	width: 430px;
}
#shopcart { margin-bottom: 20px; }
#login { margin-top: 40px; }
aside#right {
	pading: 0px;
	margin-left: 10px;
	width:200px;
	float: left;
	footer {
		width: 100%;
		height:50px;
		clear: both;
		backgorund-image: url(images/footer_bg.gif);
		background-position: top left; 
		bacground-repeat: repeat-x;
	}
}